*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}
h1{
    font-size: 2.5rem;
    color: rgb(66, 7, 73);
}
#searchText{
    width: 30vw;
    height: 1.5rem;
    border-radius: .5rem;
}
button{
    padding: .2rem;
    border-radius: .5rem;
}