*{
    box-sizing: border-box;
}
#header {
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    font-size: x-large;
}

h1{
    /* padding-left: 1.5rem; */
}


#movies {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
  }
.movie{
    
    box-shadow: 5px 5px 5px black;
    padding: 20px;

  }
  .movie > img {
    height: 200px;
  }
 

  #cart {
    font-size: xx-large;
  }